@import "~materialize-css/dist/css/materialize.min.css";

.card {
  width: 400px;
  margin: 150px auto 0;
}

.page-title,
.page-subtitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item-icon {
  display: flex!important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
